/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button,
the title "ScriBBler" & the sub-heading below "ScriBBLer" */
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.title-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blue-button{
    background-color: blue;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 5px;
    padding-left:5px;
    color:white;
}
.title{
  font-family: 'Satisfy', cursive;
    font-size: 30px;
    color: blue;
}
.sub-title{
  font-family: 'Marck Script', cursive;
  font-size: 10;
  color: black;
}
.login-buttons-container{
  padding: 10px;
}
